@page "/cities"
@using Stores.Shared.Entities;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h3>Ciudades</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/cities/create">Adicionar ciudad</a>
</div>

<GenericList MyList="cities">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>ciudades</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var city in cities!)
                {
                    <tr>
                        <td>
                            <a href="/cities/edit/@city.Id" class="btn btn-warning"><i class="oi oi-pencil" />Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => DeleteAsync(city))><i class="oi oi-trash" />Borrar</button>
                        </td>

                        <td>
                            @city.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>


@code {
    public List<City>? cities { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.Get<List<City>>("api/cities");
        cities = responseHppt.Response!;
    }

    private async Task DeleteAsync(City city)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/cities/{city.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
}
